*{
	margin: 0;
	padding: 0;
}

h1{
	color: #e84848;
}

.btn{
	height: 150px;
	width: 150px;
	margin: 5px;
	box-shadow: none;
}

.pokepoke {
    height: 150px;
    width: 150px;
    margin-left: -39px;
    
}

#icon_prefix {
    width: 530px;
}
.modal{
	width: 150px;
	height: 150px;
}